[submodule "bundle/javascript.vim"]
	path = bundle/javascript.vim
	url = https://github.com/serverhorror/javascript.vim.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/markabe/bufexplorer.git
[submodule "bundle/vim-colorschemes"]
	path = bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "vis"]
	path = vis
	url = https://github.com/vim-scripts/vis.git
[submodule "bundle/vis"]
	path = bundle/vis
	url = https://github.com/vim-scripts/vis.git
[submodule "bundle/moin-vim"]
	path = bundle/moin-vim
	url = https://github.com/vim-scripts/moin.vim.git
[submodule "bundle/scratch.vim"]
	path = bundle/scratch.vim
	url = https://github.com/vim-scripts/scratch.vim.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/utl.vim"]
	path = bundle/utl.vim
	url = https://github.com/vim-scripts/utl.vim.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/vim-preview"]
	path = bundle/vim-preview
	url = https://github.com/greyblake/vim-preview.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = https://github.com/vim-scripts/LaTeX-Suite-aka-Vim-LaTeX.git
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/Tagbar"]
	path = bundle/Tagbar
	url = https://github.com/vim-scripts/Tagbar.git
[submodule "bundle/speeddating.vim"]
	path = bundle/speeddating.vim
	url = https://github.com/vim-scripts/speeddating.vim.git
[submodule "bundle/NrrwRgn"]
	path = bundle/NrrwRgn
	url = https://github.com/vim-scripts/NrrwRgn.git
[submodule "bundle/vim-orgmode"]
	path = bundle/vim-orgmode
	url = https://github.com/vim-scripts/vim-orgmode.git
[submodule "bundle/javaScriptLint.vim"]
	path = bundle/javaScriptLint.vim
	url = https://github.com/joestelmach/javaScriptLint.vim.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-stylus"]
	path = bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "bundle/vimoutliner"]
	path = bundle/vimoutliner
	url = https://github.com/vimoutliner/vimoutliner.git
[submodule "bundle/vimerl"]
	path = bundle/vimerl
	url = https://github.com/jimenezrick/vimerl.git
[submodule "bundle/hemisu"]
	path = bundle/hemisu
	url = https://github.com/noahfrederick/Hemisu.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vimclojure"]
	path = bundle/vimclojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule "bundle/vim-flake8"]
	path = bundle/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "bundle/lucius"]
	path = bundle/lucius
	url = https://github.com/vim-scripts/Lucius.git
[submodule "bundle/colorsupport"]
	path = bundle/colorsupport
	url = https://github.com/vim-scripts/colorsupport.vim.git
[submodule "bundle/linediff.vim"]
	path = bundle/linediff.vim
	url = https://github.com/AndrewRadev/linediff.vim.git
